/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 360px;
  max-width: 850px;
  margin: 35px auto;
}
a {
  color:white !important;
  font-size:1rem
}
a.active {
  color: orange;
}

.album {
    height: 50%;
    width: 100%;
    text-align: center;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.album h1 {
    padding:50px 0;
}

nav {
  padding-top: 20px;
}
